* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(249, 250, 249);
  /* flex-direction: row; */

}

.navbar {
  background-color: rgb(12, 61, 197);
  width: 20vw;
}

.dashboard {
  width: 80vw;
}

.header {
  background-color: rgb(197, 39, 12);
  height: 8vh;
}

.panel {
  background-color: rgb(114, 104, 102);
  height: 22vh;
}

.chart-dashboard {
  display: flex;
  height: 70vh;

}

.chart {
  background-color: rgb(219, 218, 217);
  width: 80%;
}

.filters {
  /* background-color: green; */
  width: 20%;

}

.section {
  background-color: rgb(71, 83, 255);
}
