* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* background-color: rgb(249, 250, 249); */
  /* flex-direction: row; */
}

.navbar {
  background-color: rgb(12, 61, 197);
  width: 20vw;
}

.dashboard {
  width: 100vw;
}

.header {
  background-color: rgb(197, 39, 12);
  height: 5vh;
}

.panel {
  background-color: rgb(114, 104, 102);
  height: 22vh;
}

.chart-dashboard {
  display: flex;
  margin: 20px;
  border: solid 1px rgb(159, 162, 180, 0.5);
  border-radius: 5px;
}

.chart {
  width: 80%;
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
}

.filter-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px rgb(159, 162, 180, 0.2);
}

.filter p {
  margin: 0 auto;
  font-size: 0.8rem;
  color: #9fa2b4;
}

.filter-options {
  color: #252733;
  font-weight: bolder;
}

.section {
  background-color: rgb(71, 83, 255);
}
