* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main-content {
  padding-left: 12vw;
}

.app {
  display: flex;
}

.dashboard {
  width: 85vw;
}
