.chart-dashboard {
  display: flex;
  margin: 0 10px;
  border: solid 1px rgb(159 162 180 / 50%);
  border-radius: 5px;
}

.chart {
  width: 80%;
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
}

.filter-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: solid 1px rgb(159 162 180/ 20%);
}

.filter p {
  font-size: 0.8rem;
  color: #9fa2b4;
}

.filter select {
  font-size: large;
  background-color: transparent;
  text-decoration: underline;
}

.filter-options {
  color: #252733;
  font-weight: bolder;
}
