.header {
  display: flex;
  margin-left: 12vw;
  justify-content: space-between;
}

.header h2 {
  padding: 20px;
}

.user {
  display: flex;
  padding: 20px;
  align-items: center;
}

.user-name {
  color: rgba(105 103 103);
  margin-right: 20px;
  font-weight: bolder;
}

.user-img-container {
  width: 50px;
}

.user-img {
  border-radius: 50%;
  width: 100%;
}
