.navbar {
  position: fixed;
  background-color: #363740;
  width: 12vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  color: rgb(255 255 255 / 50%);
}

.logo {
  width: 100%;
  height: 100%;
  padding: 10%;
}

.navbar-option:hover {
  background-color: #3a1f2e;
  box-shadow: 0 4px 8px 0 rgba(0 0 0 / 20%), 0 6px 20px 0 rgba(0 0 0);
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.navbar li {
  margin: 15px;
  list-style-type: none;
}
